<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <header>
            <img class="img-responsive" src="~/Content/img/header.png" alt="Dreszcz" />
        </header>
    </div>
        <div class="container">
            <nav>
                <ul>
                    <li class="center-block text-center"><a href="#">Home</a></li>
                    <li class="center-block text-center"><a href="#">O grze</a></li>
                    <li class="center-block text-center"><a href="#">Zasady</a></li>
                    <li class="center-block text-center"><a href="#">Autorzy</a></li>
                </ul>
            </nav>
        </div>


    <div class="container body-content">
        @RenderBody()

    <div class="container">  
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year &ndash; Giant's Castle</p>
        </footer>
    </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
